
	{% extends "template.html" %}
	{% set active_page = "index" %}
	{% block content %}

	<div class="subhead">
		<h2 class="orange">Sailboat Search</h2>
		<p>Searches <a href="https://www.yachtworld.com/" target="_blank">Yachtworld.com</a> or <a href="https://www.sailboatlistings.com/" target="_blank"> Sailboatlistings.com</a> for sailboats in Washington, Oregon and British Columbia and returns the results.</p>
	</div>
	<form action="/" method="POST">

<div class="form-group col-md-12">
	<div class="form-group col-md-2">
	<label>Currency Type</label>
		<div class="form-check form-check-inline"><input class="form-check-input" type="radio" id="inputcurr1" name="inputcurr" value="CAD" checked> <label class="form-check-label" for="inputcurr">CAD</label>
		</div>
		<div class="form-check form-check-inline"><input class="form-check-input" type="radio" id="inputcurr2" name="inputcurr" value="USD"> <label class="form-check-label" for="inputcurr2">USD</label>
		</div>
	</div>

	<div class="form-group col-md-10">
		<div class="form-group col-md-6">
		<label>Min Price</label>
			$<input type="text" class="form-control" id="minprice" name="minprice" placeholder="(default = {{ minprice }})">
		</div>
		<div class="form-group col-md-6">
		<label>Max Price</label>
			$<input type="text" class="form-control" id="maxprice" name="maxprice" placeholder="(default = {{ maxprice }})">
		</div>
	</div>
</div>

<div class="form-group col-md-12">
	<div class="form-group col-md-2">
<!-- USING Requests -->
	<!-- <label>Site</label>
		<div class="form-check form-check-inline"><input class="form-check-input" type="radio" id="inputcurr1" name="sitename" value="YW" checked> <label class="form-check-label" for="inputcurr">Yachtworld</label>
		</div>
		<div class="form-check form-check-inline"><input class="form-check-input" type="radio" id="inputcurr2" name="sitename" value="SBL"> <label class="form-check-label" for="inputcurr2">SailboatListings</label>
		</div>
		<div class="form-check form-check-inline"><input class="form-check-input" type="radio" id="inputcurr2" name="sitename" value="both"> <label class="form-check-label" for="inputcurr2">Both</label>
		</div> -->
<!-- END Requests	 -->
<!-- USING WTForms -->
	<fieldset>
		<div class="form-check">
			{{ form.sitename.label(class="form-check-label") }}	
			{% for subfield in form.sitename %}	
				<div class="form-check form-check-inline form-check-input">{{ subfield }}
					{{ subfield.label }}
				</div>
			{% endfor %}
		</div>
	</fieldset>
<!-- END WTForms -->
	</div>	

	

	<div  class="form-group col-md-10">
		<div class="form-group col-md-6">
		<label>Min Length (ft.)</label>
			<input type="text" class="form-control" id="minlength" name="minlength" placeholder="Minimum length (default = {{ minlength }})">
		</div>
		<div class="form-group col-md-6">
		<label>Max Length (ft.)</label>
			<input type="text" class="form-control" id="maxlength" name="maxlength" placeholder="Maximum length (default = {{ maxlength }})">
		</div>
	</div>
</div>
<div class="form-group col-md-12">
	<div class="form-group col-md-2">
		<div class="form-check form-check-inline">
		<label>Sort Parameters</label>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" id="inputsize" name="inputsearch" value="Size" checked>
				<label class="form-check-label">Length</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" id="inputprice" name="inputsearch" value="Price">
				<label class="form-check-inline">Price</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" id="inputlocation" name="inputsearch" value="Location">
				<label class="form-check-label">Location</label>
			</div>
		</div>
	</div>
</div>

	<div class="form-group col-md-12">
		<input class="btn btn-orange pull-left" type="submit" value="Begin Search">
	</div>
	</form>


	
	{% endblock content %}



